<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>

        <httpPlatform processPath="venv\Scripts\python.exe" arguments="waitress_server.py" startupTimeLimit="120" stdoutLogEnabled="true" stdoutLogFile=".\python.log" processesPerApplication="1" startupRetryCount="3">
            <environmentVariables>
                <environmentVariable name="DJANGO_SETTINGS_MODULE" value="pratiche.conf.prod" />
                <environmentVariable name="LOG_DIR" value="E:\prod\logs\pratiche_pareri" />
                <environmentVariable name="PYTHONPATH" value="." />
                <environmentVariable name="DEBUG" value="0" />
                <environmentVariable name="PRODUCTION" value="1" />
                <environmentVariable name="SECRET_KEY" value="rx9pfs*hec(e4cw$r64_+6j*1yu5oj65j+wsmr+jq5$%8)s@jl" />
                <environmentVariable name="DATABASE_PASSWORD" value="e0Sv;V%iBh&amp!1@Lmu" />
            </environmentVariables>
        </httpPlatform>

        <!-- Gestione file statici -->
        <staticContent>
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
        </staticContent>

        <!-- Rewrite rules per file statici -->
        <rewrite>
            <rules>
                <rule name="Static Files" stopProcessing="true">
                    <match url="^static/(.*)" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="staticfiles/{R:1}" />
                </rule>

                <rule name="Media Files" stopProcessing="true">
                    <match url="^media/(.*)" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="media/{R:1}" />
                </rule>
            </rules>
        </rewrite>

        <!-- Sicurezza - nascondi file sensibili -->
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="venv" />
                    <add segment=".git" />
                    <add segment=".env" />
                    <add segment="__pycache__" />
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
