:root {
  --colore-principale: #e00f90;
  --colore-secondario: #b909a2; /* per il colore di hover */
  --colore-hover: #dd0bc1;
}

.login-logo img {
  width: 200px;
  height: auto;
}

.accent-primary
  [class*="sidebar-dark-"]
  .sidebar
  a:not(.dropdown-item):not(.btn-app):not(.nav-link):not(.brand-link) {
  color: white !important;
}

.accent-primary .btn-link,
.accent-primary .nav-tabs .nav-link,
.accent-primary
  a:not(.dropdown-item):not(.btn-app):not(.nav-link):not(.brand-link):not(
    .page-link
  ):not(.btn) {
  color: var(--colore-principale);
}
.accent-primary .btn-link:hover,
.accent-primary .nav-tabs .nav-link:hover,
.accent-primary
  a:not(.dropdown-item):not(.btn-app):not(.nav-link):not(.brand-link):not(
    .page-link
  ):not(.btn):hover {
  color: var(--colore-hover) !important;
}

.btn-primary {
  background-color: var(--colore-secondario);
  border-color: var(--colore-secondario);
}
.btn-primary:hover {
  background-color: var(--colore-principale);
  border-color: var(--colore-principale);
}

[class*="sidebar-dark"] .brand-link,
[class*="sidebar-dark"] .brand-link .pushmenu {
  color: white !important;
}

[class*="sidebar-dark-"] .nav-header {
  color: white !important;
}

.alert-success {
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}

.main-sidebar .brand-text {
  font-weight: bold !important;
}

.sidebar-dark-maroon .nav-sidebar > .nav-item > .nav-link.active,
.sidebar-light-maroon .nav-sidebar > .nav-item > .nav-link.active {
  background-color: var(--colore-principale);
}

.navbar-pink {
  background-color: var(--colore-principale);
}

.select2-container--default .select2-selection--single {
  border-color: #ced4da;
}

.select2-container--default.select2-container--focus
  .select2-selection--single {
  border-color: var(--colore-principale) !important;
  box-shadow: 0 0 0 0.2rem rgba(209, 117, 181, 0.25) !important;
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: var(--colore-principale) !important;
  color: #fff !important;
}

.related-widget-wrapper-link[data-href-template] {
  display: inline-block;
}

.selector .selector-available .selector-add {
  background-image: none !important;
  background-color: var(--colore-principale) !important;
  color: white !important;
  border-radius: 5px;
  padding: 5px 8px;
  margin: 3px 0 !important;
  display: block;
  text-align: center;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: var(--colore-principale) !important;
  color: white !important;
}

.related-widget-wrapper .related-lookup {
  background-image: none !important;
  background-color: var(--colore-principale) !important;
  color: white !important;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  width: 30px;
  height: 30px;
}

.related-widget-wrapper .related-lookup::before {
  content: "\f002";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.select2-container--default .select2-dropdown .select2-search__field:focus,
.select2-container--default .select2-search--inline .select2-search__field {
  border-color: black !important;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove {
  color: white !important;
}

#id_codice_fiscale {
  text-transform: uppercase;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__display {
  padding-left: 7px !important;
}
.select2-container--default.select2-container--open {
  width: 100% !important;
}
.select2-container {
  width: 100% !important;
}
.select2-search__field {
  width: 150px !important; /* Aumenta il valore per renderlo più grande */
}
/* static/css/custom.css */
/* Stile del contenitore del campo di ricerca */
.select2-container .select2-search--inline {
  position: relative;
}

/* Stile del campo di ricerca */
.select2-container .select2-search--inline .select2-search__field {
  height: 26px !important;
  padding-left: 25px !important; /* Aumenta questo valore per creare più spazio */
  padding-right: 5px; /* Aggiungi un po' di padding anche a destra */
}

/* Pseudo-elemento per l'icona */
.select2-container .select2-search--inline::before {
  content: "\f002";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: 8px; /* Posizione fissa dell'icona */
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}
